.animals-section {
  width: 100%;
}

.animals-section_header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5rem;
}

.animals-section_header_img {
  width: 4rem;
  margin: 0 auto;
}

.animals-section_header_img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.animals-section_header p {
  color: var(--secondary);
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 1rem;
}
.animals-section_header h2 {
  color: var(--primary);
  font-weight: 700;
  font-size: 3.2rem;
  margin-top: 1rem;
}
.animals-section_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.animals-section_petCard_img img {
  border-radius: 50%;
}
.animals-section_petCard_img {
  max-width: 30rem;
  min-width: 30rem;
}
.petCard-birthInfo,
.petCard-BreedInfo,
.petCard-StoryInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.petCard-BreedInfo {
  font-weight: 700;
  font-size: 2.5rem;
}
.petCard-StoryInfo p {
  font-size: 2rem;
  width: 70%;
  text-align: center;
}
.petCard-btn {
  margin-top: 2rem;
  font-size: 1rem;
}
.animals-section_petCard {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
