.result {
  padding: 3rem;
  width: 70%;
  margin: 0 auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.result h3 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 3rem;
}
.result-pet {
  display: flex;
  align-items: center;
  max-width: 100%;
  justify-content: center;
  gap: 5rem;
}
.result-pet-img {
  max-width: 30rem;
}
.result-pet-info {
  max-width: 30rem;
}

.result-pet-info p {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
  text-transform: uppercase;
}
.result-pet-info span {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: lowercase;
  margin-top: 1rem;
}
.result-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 4rem;
}
.result-actions p {
  font-size: 2rem;
  font-weight: 600;
}
.result-no {
  background-color: var(--secondary);
}
.yes-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
  font-size: 2rem;
}
.yes-modal-phone {
  font-weight: 600;
}
.no-modal {
  margin-top: 3rem;
}
.result-pet-info img,
.result-pet-1 img {
  max-width: 100%;
}
